* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}


.nav-container {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080724;
    position: fixed;
    top: 0;
}

.logo {
    position: absolute;
    left: 2rem;
    color: white;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    height: 5rem;
}

.nav-links li {
    list-style: none;
}

.links {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.4rem 1.6rem;
    height: 5rem;
    width: 8rem;
    text-align: center;
    justify-items: center;
    align-content: center;
}

.links:hover {
    background-color: #18124f;
    color: #00eeff;
}

#Login {
    background-color: blue;
}

.active-section {
    border-bottom: 5px solid white;
}

.content {
    margin-top: 5rem;
    padding: 3rem;
    text-align: center;
}

.content h1 {
    margin-bottom: 1rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 2rem;
}

.bar {
    height: 4px;
    width: 30px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
    transition: transform 0.5s ease, opacity 0.4s ease;
}

@media (max-width: 940px) {

    .hamburger {
       display: flex;
    }

    .animate .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .animate .bar:nth-child(2) {
        opacity: 0;
    }

    .animate .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .active-section {
        border: 0.1px solid white;
    }

    nav {
        justify-items: center;
        align-items: center;
    }

    .nav-links {
        position: fixed;
        top: 6.7rem;
        left: 0;
        height: 54%;
        width: 98%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #080724;
        pointer-events: none;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.8s ease, opacity 0.8s ease;
    }

    
    .show-bar {
        pointer-events: auto;
        transform: translateX(1%);
        opacity: 1;
    }    

    .nav-links li {
        width: 100%;
        margin: 0 1rem;
        /* opacity: 0;
        transition: opacity 0.1s ease 0.8s; */
    } 

    /* .nav-links li:nth-child(3) {
        opacity: 0;
    } */

    /* .show-links:nth-child(3) {
        opacity: 1;
    } */

    #Home {
        background-color: #080724;
    }

    #Home:hover {
        background-color: #18124f;
    }


    .links {
        padding: 1.5rem;
        width: 100%;
        text-align: center;
    }

    main{
        transition: margin-top 0.8s ease;
    }

    .main-after-bar {
        margin-top: 32rem;
    }
    
}


