* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080724;
    position: fixed;
    top: 0;
}

.logo {
    position: absolute;
    left: 2rem;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    height: 5rem;
}

.nav-links li {
    list-style: none;
}

.links {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.4rem 1.6rem;
    height: 5rem;
    width: 8rem;
    text-align: center;
    justify-items: center;
    align-content: center;
}

.links:hover {
    background-color: #18124f;
    color: #00eeff;
}

#Login {
    background-color: blue;
}

.active-section {
    border-bottom: 5px solid white;
}

.content {
    margin-top: 5rem;
    padding: 3rem;
    text-align: center;
}

.content h1 {
    margin-bottom: 1rem;
}

.menu-toggle {
    display: none;
    right: 1rem;
    color: white;
    position: absolute;
    right: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 0.5rem;
    align-content: center;
    justify-items: center;
}

.menu-toggle:hover {
    color: #00eeff;
    transform: scale(1.1);
}

@media (max-width: 940px) {
    .menu-toggle {
        display: block;
    }

    .active-section {
        border: 0.1px solid white;
    }

    nav {
        justify-items: center;
        align-items: center;
    }

    .nav-links {
        position: fixed;
        top: 5.1rem;
        left: 0;
        height: 54%;
        width: 100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #080724;
        visibility: hidden;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.8s ease, opacity 0.8s ease;
    }

    .show-bar {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
    }    

    .nav-links li {
        width: 100%;
        margin: 0 1rem;
    } 

    .links {
        padding: 1.5rem;
        width: 100%;
        text-align: center;
    }

    main{
        transition: margin-top 0.8s ease;
    }

    .main-after-bar {
        margin-top: 32rem;
    }
    
}


